# Copyright (c) 2017-present SIGHUP s.r.l All rights reserved.
# Use of this source code is governed by a BSD-style
# license that can be found in the LICENSE file.

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: rook-ceph-operator-config
  namespace: rook-ceph
data:
  ROOK_CSI_CEPH_IMAGE: "registry.sighup.io/fury/cephcsi/cephcsi:v3.7.2"
  ROOK_CSI_REGISTRAR_IMAGE: "registry.sighup.io/fury/sig-storage/csi-node-driver-registrar:v2.7.0"
  ROOK_CSI_RESIZER_IMAGE: "registry.sighup.io/fury/sig-storage/csi-resizer:v1.7.0"
  ROOK_CSI_PROVISIONER_IMAGE: "registry.sighup.io/fury/sig-storage/csi-provisioner:v3.4.0"
  ROOK_CSI_SNAPSHOTTER_IMAGE: "registry.sighup.io/fury/sig-storage/csi-snapshotter:v6.2.1"
  ROOK_CSI_ATTACHER_IMAGE: "registry.sighup.io/fury/sig-storage/csi-attacher:v4.1.0"
